{{/* Build a JSON-safe search index for all pages (excluding search and index pages) */}}
{{- $pages := .Site.AllPages -}}
{{- $docs := slice -}}
{{- range $pages -}}
  {{/* Exclude search page and index pages from search results */}}
  {{- $isSearchPage := eq .Type "search" -}}
  {{- $isIndexPage := eq .File.BaseFileName "_index" -}}
  {{- if and (not $isSearchPage) (not $isIndexPage) -}}
    {{- $growth := partial "growth-level.html" . -}}
    {{- $docs = $docs | append (dict
        "id" .Permalink
        "title" .Title
        "tags" .Params.tags
        "content" (.Content | plainify | htmlUnescape)
        "url" .Permalink
        "test" "hello"
        "emoji" $growth.emoji
        "level" $growth.level) -}}
  {{- end -}}
{{- end -}}
<script>
  window.store = {{ $docs | jsonify }};
  console.log("search index pages:", {{ len $docs }});
  console.log("first doc:", window.store[0]);
</script>

{{ $lunrjs := resources.Get "js/lunr.min.js" }}
<script src="{{$lunrjs.Permalink}}" type="text/javascript"></script>

{{ $searchjs := resources.Get "js/search.js" | resources.Fingerprint }}
<script src="{{$searchjs.Permalink}}" type="text/javascript"></script>
