{{/* Build a JSON-safe search index for all pages (including root pages) */}}
{{- $pages := .Site.AllPages -}}
{{- $docs := slice -}}
{{- range $pages -}}
  {{- $growth := partial "growth-level.html" . -}}
  {{- $docs = $docs | append (dict
      "id" .Permalink
      "title" .Title
      "tags" .Params.tags
      "content" (.Content | plainify | htmlUnescape)
      "url" .Permalink
      "growthEmoji" $growth.emoji
      "growthLevel" $growth.level) -}}
{{- end -}}
<script>
  window.store = {{ $docs | jsonify }};
  console.log("search index pages:", {{ len $docs }});
</script>

{{ $lunrjs := resources.Get "js/lunr.min.js" }}
<script src="{{$lunrjs.Permalink}}" type="text/javascript"></script>

{{ $searchjs := resources.Get "js/search.js" | resources.Fingerprint }}
<script src="{{$searchjs.Permalink}}" type="text/javascript"></script>
